AIYA_ENVIRONMENT=dev
AIYA_LOG_LEVEL=INFO
AIYA_PG_HOST=host.docker.internal
AIYA_PG_PORT=5432
AIYA_PG_USER=aiya
AIYA_PG_PASSWORD=aiya
AIYA_PG_DATABASE=aiya
AIYA_REDIS_HOST=host.docker.internal
AIYA_REDIS_PORT=6379
AIYA_REDIS_DB=0
AIYA_REDIS_PASSWORD=
AIYA_JWT_SECRET=replace-this-in-production
AIYA_JWT_ACCESS_TTL_SECONDS=900
AIYA_JWT_REFRESH_TTL_SECONDS=1209600
AIYA_CACHE_BACKEND=redis
AIYA_ISSUER=http://127.0.0.1:8000
AIYA_API_AUDIENCE=aiya-admin
AIYA_SECURE_COOKIES=false
AIYA_CORS_ORIGINS=http://127.0.0.1:5173
AIYA_PUBLIC_BASE_URL=http://127.0.0.1:5173
POSTGRES_DB=aiya
POSTGRES_USER=aiya
POSTGRES_PASSWORD=aiya
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin
AIYA_TEST_S3_ENDPOINT=http://host.docker.internal:9000
AIYA_TEST_S3_BUCKET=aiya-assets
